@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f6f6;
  color: #0f1f1c;
}

.none {
  display: none !important;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.container__right {
  padding-left: calc((100% - 1270px) / 2 + 15px);
}

.header {
  min-height: 940px;
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
  position: relative;
  padding: 54px 100px;
  overflow: hidden;
}
.header::after {
  content: "";
  background-image: url(/img/header/header_bottom.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
}

.header__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  position: relative;
  z-index: 5;
}

.title__companyName {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.title__nav {
  max-width: 462px;
}

.title__nav ul {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.title__nav ul a {
  color: #ffffff;
  transition: 0.3s all ease-in;
  position: relative;
}

.title__nav a.active::after,
.title__nav a:hover::after {
  content: "";
  display: block;
  width: 35px;
  height: 4px;
  border-radius: 100px;
  background-color: white;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.title__login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title__login a {
  color: #ffffff;
  transition: 0.3s all ease-in;
}
.title__login a:hover {
  color: rgba(54, 190, 36, 0.8823529412);
}
.title__login:first-child {
  width: 57px;
}
.title__login a + a {
  margin-left: 25px;
}

.btn {
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%);
}

.headerContentRow {
  display: flex;
  justify-content: space-between;
}

.headerContent {
  display: flex;
  flex-direction: column;
}

.header__badge {
  margin-top: 97px;
  margin-bottom: 7px;
  display: inline-block;
  width: 227px;
  height: 50px;
  border-radius: 15px;
  padding: 11px 30px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5 px;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.25);
  text-align: center;
}

.header__heading {
  display: block;
  max-width: 592px;
  font-weight: 400;
  font-size: 55px;
  line-height: 82px;
  color: #ffffff;
}

.header__text {
  display: block;
  margin-top: 30px;
  margin-bottom: 95px;
  max-width: 519px;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  opacity: 0.5;
}

.header__img {
  flex-grow: 1;
  position: relative;
}

.header__img img {
  max-width: unset;
  width: 894px;
  height: 940px;
  position: absolute;
  top: -80px;
  left: -150px;
}

.btnMin {
  width: 128px;
  height: 49px;
  border-radius: 100px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  padding: 13px 43px;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4666666667;
  color: #ffffff;
}

.btnMid {
  width: 225px;
  height: 79px;
  border-radius: 27px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  padding: 24px 44px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
}

.btnMidExtended {
  width: 263px;
  height: 91px;
  border-radius: 27px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  padding: 26px 47px;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.52;
  color: #fefefe;
}

.btnMax {
  width: 300px;
  height: 105px;
  border-radius: 35px;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #ffffff;
  padding: 33px 86px;
  color: white;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.52;
}

.btnMin,
.btnMidExtended,
.btnMid,
.btnMax {
  transition: 0.3s all ease-in;
}

.btnMin:hover,
.btnMidExtended:hover,
.btnMid:hover,
.btnMax:hover {
  color: rgba(163, 162, 162, 0.9725490196);
  background: linear-gradient(129.54deg, rgba(228, 92, 47, 0.8980392157) 15.57%, rgba(151, 52, 47, 0.9098039216) 95.03%), #ffffff;
}

.destinations {
  padding-top: 96px;
  padding-bottom: 100px;
  overflow: hidden;
}

.destinations__row {
  display: flex;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.destinations__subtitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #0f1f1c;
}

.destinations__title {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}

.destinations__text {
  margin-bottom: 60px;
  width: 456px;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  color: #0f1f1c;
  opacity: 0.5;
}

.destinations__btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #fefefe;
}

.slider {
  width: 1110px;
}

.slider__item {
  width: 335px;
  height: 402px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 35px;
  transition: all 0.3s ease-in;
  margin-top: 27px;
}

.slider .center .slider__item {
  width: 380px;
  height: 456px;
  margin-top: 0;
}

.slider__btn {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: linear-gradient(129.54deg, #ff7b4e 15.57%, #ff584e 95.03%), #8b8b8b;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */