.subscribe {
  margin-top: 35px;
}

.subscribe__title {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #0f1f1c;
}
.subscribe__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe__form {
  margin-bottom: 106px;
  background-color: #fff;
  width: 800px;
  height: 129px;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form__email {
  margin: 46px 46px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #0f1f1c;
}
